#
#--------------------------------------------------------------------------
# docker-compose.yml
#--------------------------------------------------------------------------
#
# Here is where you can play around with your container stacks
# Feel free to modify it base on your need.
#
# notes:
# set {PROJECTS_PATH} in .env file and must be in linux format.
# put your working php projects inside PROJECTS_PATH dir
# port 80/443 => using php-fpm 8.3
# port 8084 => using php-fpm 8.4
# port 8070 => using php-fpm 7.0
#

services:
  nginx:
    image: nginx:latest-dev
    container_name: nginx
    restart: unless-stopped
    volumes:
      - ${PROJECTS_PATH}:/var/www/html
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./config/nginx/entrypoint-auto.conf:/etc/nginx/entrypoint-auto.conf
      - ./config/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./config/nginx/fastcgi_params:/etc/nginx/fastcgi_params
    network_mode: host
    depends_on:
      - php70
      - php83
      - php84

  php70:
    image: php70:latest-dev
    container_name: php70
    restart: unless-stopped
    cap_add:
      - SYS_PTRACE
    volumes:
      - ${PROJECTS_PATH}:/var/www/html
      - ./config/php/v70/zz-docker.conf:/usr/local/etc/php-fpm.d/zz-docker.conf
    environment:
      - TZ=Asia/Jakarta
    network_mode: host

  php83:
    image: php83:latest-dev
    container_name: php83
    restart: unless-stopped
    volumes:
      - ${PROJECTS_PATH}:/var/www/html
      - ./config/php/v83/zz-docker.conf:/usr/local/etc/php-fpm.d/zz-docker.conf
    environment:
      - TZ=Asia/Jakarta
    network_mode: host

  php84:
    image: php84:latest-dev
    container_name: php84
    restart: unless-stopped
    volumes:
      - ${PROJECTS_PATH}:/var/www/html
      - ./config/php/v84/zz-docker.conf:/usr/local/etc/php-fpm.d/zz-docker.conf
    environment:
      - TZ=Asia/Jakarta
    network_mode: host

  postgres_one:
    image: postgres:alpine
    container_name: postgres_one
    ports:
      - "5431:5432"
    environment:
      - POSTGRES_USER=${PGONE_USER}
      - POSTGRES_PASSWORD=${PGONE_PASSWORD}
      - POSTGRES_DB=${PGONE_DB}
    volumes:
      - pgsql_one_data:/var/lib/postgresql/data

  postgres_two:
    image: postgres:alpine
    container_name: postgres_two
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=${PGTWO_USER}
      - POSTGRES_PASSWORD=${PGTWO_PASSWORD}
      - POSTGRES_DB=${PGTWO_DB}
    volumes:
      - pgsql_two_data:/var/lib/postgresql/data

volumes:
  pgsql_one_data:
  pgsql_two_data:
